
@{    
    Layout = null;
}

<div class="Principal">
    <div class="Logo_Empresa">
        <div>
            <a href="@Url.Action("Index","Home")">
                <img src="~/Imagenes/Logo.png" />
            </a>
        </div>
    </div>
    <div class="Botonera">      
        </div>
    </div>



