
@{    
    Layout = null;
}

<div class="Principal">
    <div class="Logo_Empresa">
        <div>
            <a href="@Url.Action("Index","Home")">
                <img src="~/Imagenes/Logo.png" />
            </a>
        </div>      
    </div>
    <div class="Botonera">         
            <div>
                <a href="@Url.Action("Login","Home")">
                    <img src="~/Imagenes/Paquete2/png/101-user.png" />
                    <label> Login </label>
                </a>
            </div>           
        </div>
    </div>



