
@{
    ViewBag.Title = "Header1";
}

    <div class="Principal">
        <div class="Logo_Empresa">
            <div>
                <a href="@Url.Action("Index","Home")">
                    <img src="#" />                   
                </a>
            </div>
        </div> 
        <div class="Botonera">
            <div>
                <a href="@Url.Action("Leer","Usuarios")">
                    <img src="~/Imagenes/Paquete1/png/075-team.png" />
                    <label> Usuarios</label>
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="~/Imagenes/Paquete2/png/101-bar-chart-1.png" />
                    <label> Reportes</label>
                </a>
            </div> 
            <div>
                <a href="#">
                    <img src="~/Imagenes/Paquete2/png/101-briefcase.png" />
                    <label> Proveedores</label>
                </a>
            </div>          
            <div>
                <a href="#">
                    <img src="~/Imagenes/Paquete2/png/101-folder.png" />
                    <label> Articulos</label>
                </a>
            </div>            
            <div>
                <a href="#">
                    <img src="~/Imagenes/Paquete1/png/007-files.png" />
                    <label ty> Ventas</label>
                </a>
            </div>                       
        </div>            
    </div>



