@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar</title>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

    <script type="text/javascript" src="~/JS/DataTable.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/DataTables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/DataTables/DataTables-1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="~/CSS/Header_Estilo.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/Footer_Estilo.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/General_Estilo.css" rel="stylesheet" type="text/css" />

    <link href="~/fontawesome/css/all.css" rel="stylesheet" />


</head>
<body>
    @RenderPage("~/Views/Secciones/Header.cshtml")
    <div class="container">
        <div id="Etiqueta_Principal">
            <label>
                Agregar Proveedor
            </label>
        </div>
        <div class="row">
            <div class="col-lg-12 form-horizontal" id="formulario_usuarios">
                <form action="~/Proveedores/InsertarProveedor" method="post">
                    <div class="form-group">
                        <label for="#" class="col-lg-3 col-form-label">Nombre Proveedor: </label>
                        <div class="col-lg-6">
                            <input name="Nombre_Proveedor" type="text" class="form-control" id="#" placeholder="Ingrese Nombre Proveedor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="#" class="col-lg-3 col-form-label">Nombre Contacto: </label>
                        <div class="col-lg-6">
                            <input name="Nombre_Contacto" type="text" class="form-control" id="#" placeholder="Ingrese Nombre Contacto">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="#" class="col-lg-3 col-form-label">Correo Proveedor: </label>
                        <div class="col-lg-6">
                            <input name="Correo_Proveedor" type="text" class="form-control" id="#" placeholder="ejemplo@gmail.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="#" class="col-lg-3 col-form-label">Telefono Proveedor: </label>
                        <div class="col-lg-6">
                            <input name="Telefono_Proveedor" type="text" class="form-control" id="#" placeholder="88223423">
                        </div>
                    </div>                                        
                    <div class="form-group">
                        <div id="btn-enviar">
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
    </div>
</body>
</html>
