@model Ferreteria.Clases.Sesiones

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>

    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="~/CSS/Header_Estilo.css" rel="stylesheet" type="text/css"/>
    <link href="~/CSS/Footer_Estilo.css" rel="stylesheet" type="text/css" />    
    <link href="~/CSS/Index_Estilo.css" rel="stylesheet" type="text/css"/>


</head>
<body>
    @{
        if (Model.SesionesUsuario == "Hola")
        {
            @RenderPage("~/Views/Secciones/Header.cshtml")
        }
        else
        {
            @RenderPage("~/Views/Secciones/Header_Simple.cshtml")
        }
    }
    
    <div id="Principal"> 
       <img class="Logo_Cliente" src="~/Imagenes/Logo_Empresa.png" />                          
    </div>
</body>    
</html>
