.Principal {
    background-color:#296BD4;
    width:100%;
    height:100px;
    display:inline-block;    
}

.Logo_Empresa{
    width:30%;
    background-color:aqua;
    height:100px;
    float:left;    
}

.Logo_Empresa div a img{
    background-color:black;
    width:50%;    
    height:90px;
    margin-top:5px;
    margin-left:25%;
}

.Botonera {
    width: 60%;    
    height: 100px;
    float: right;    
}

.Botonera div{
    float:right;
    height:100%;
    width:15%;
    text-align:center;
    border:2px solid black;
}

.Botonera div a{
    width:100%;
    height:100%;    
}

.Botonera div a img{
    width:60px;
    height:60px;    
}

.Botonera div a label{    
    width:100%; 
    height:30px;
    cursor:pointer;   
    color:black;
}
