
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar</title>

    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

    <script type="text/javascript" src="~/JS/DataTable.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/DataTables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/DataTables/DataTables-1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="~/CSS/Header_Estilo.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/Footer_Estilo.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/Usuarios_Estilo.css" rel="stylesheet" type="text/css" />

    <link href="~/fontawesome/css/all.css" rel="stylesheet" />

</head>
<body>
    @RenderPage("~/Views/Secciones/Header.cshtml")
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">

                </div>
            </div>
         </div>
    </div>
</body>
</html>
