@model Ferreteria.Models.Usuarios

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>

    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

    <script type="text/javascript" src="~/JS/DataTable.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/DataTables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/DataTables/DataTables-1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="~/CSS/Header_Estilo.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/Footer_Estilo.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/General_Estilo.css" rel="stylesheet" type="text/css" />

    <link href="~/fontawesome/css/all.css" rel="stylesheet" />

</head>
<body>
    @RenderPage("~/Views/Secciones/Header.cshtml")
    <div class="container">
        <div id="Etiqueta_Principal">
            <label>
                Editar Usuario
            </label>
        </div>
        <div class="row">
            <div class="col-lg-12 form-horizontal" id="formulario_usuarios">
                <form action="~/Usuarios/EditarUsuario" method="post">
                    <div class="form-group">
                        <label for="#" class="col-lg-3 col-form-label">Nombre Completo: </label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="#" placeholder="Ingrese Nombre Completo" value="@ViewBag.Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="#" class="col-lg-3 col-form-label">Telefono: </label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="#" placeholder="Ingrese Telefono">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-lg-3 col-form-label"> Tipo de Usuario:</label>
                        <div class="col-lg-6">
                            <select class="form-control" id="">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="#" class="col-lg-3 col-form-label">Nombre Usuario: </label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="#" placeholder="Ingrese Nombre del Usuario">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="#" class="col-lg-3 col-form-label">Contraseña: </label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" id="#" placeholder="Ingrese Contraseña">
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="btn-enviar">
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
